---
import type { HTMLAttributes } from 'astro/types'
import type { Tags } from '../content/config'
import Tag from './Tag.astro'

type Props = {
  title: string
  tags: Tags[]
} & HTMLAttributes<'a'>

const { href, title, tags } = Astro.props
---

<a
  href={href}
  class='flex flex-col gap-3 border border-rose-400 rounded-2xl p-4 bg-zinc-800 hover:bg-zinc-900'
>
  <h3 class='text-slate-100 font-bold text-lg'>{title}</h3>
  <slot />
  <div class='flex flex-row gap-2'>
    {
      tags.map(tag => {
        return <Tag tag={tag}>{tag}</Tag>
      })
    }
  </div>
</a>
