---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import Layout from '../../layouts/Layout.astro'
import CvCard from '../../components/CvCard.astro'
---

<Layout
  title={`${SITE_TITLE} - cv`}
  description={SITE_DESCRIPTION}
>
  <main class='flex flex-col items-center h-screen'>
    <h1
      class='text-2xl font-bold bg-gradient-to-r from-rose-400 via-red-500 to-yellow-500 text-transparent bg-clip-text bg-300% animate-gradient md:text-4xl'
    >
      My developer Timeline
    </h1>
    <div class='flex flex-col space-y-4 items-center relative p-2'>
      <div class='px-1 h-screen bg-slate-50 absolute z-0'></div>
      <CvCard
        title='First Contact'
        tags={[]}
      >
        I wanted to be a game devolper but C# almost scared me away from programming altogether.
      </CvCard>
      <CvCard
        title='Pythonic Beginnings'
        tags={['python']}
      >
        I got A udemy course ad become very good at python, but for one project I needed a frontend
        a decided to learn some web dev
      </CvCard>
      <CvCard
        title='Web Freelancer'
        tags={['react', 'node']}
      >
        Started to learn the MERN statck and was gradually building a portfolio to get a freelancer
        job
      </CvCard>
      <CvCard
        title='ADP'
        tags={['node', 'react', 'docker', 'aws']}
      >
        first contact with the market by an intership program with 1300 participants, where I was
        one of the 30 selected.
      </CvCard>
    </div>
  </main>
</Layout>
